apiVersion: v1
kind: ServiceAccount
metadata:
  name: bundle-ruby
  namespace: arp
  annotations:
    eks.amazonaws.com/role-arn: arn:aws:iam::${AWS_ACCOUNT_ID}:role/arp-bundle
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: bundle-ruby
  namespace: arp
  labels:
    app: bundle-ruby
spec:
  replicas: 1
  selector:
    matchLabels:
      app: bundle-ruby
  template:
    metadata:
      labels:
        app: bundle-ruby
    spec:
      serviceAccountName: bundle-ruby
      containers:
        - name: bundle-ruby
          image: ${AWS_ACCOUNT_ID}.dkr.ecr.${AWS_REGION}.amazonaws.com/arp/bundle-ruby:latest
          imagePullPolicy: Always
          env:
            - name: TEMPORAL_ADDRESS
              value: temporal-frontend.temporal.svc:7233
            - name: TEMPORAL_NAMESPACE
              value: default
            - name: AWS_REGION
              value: ${AWS_REGION}
          resources:
            requests:
              cpu: 50m
              memory: 128Mi
            limits:
              memory: 256Mi
