apiVersion: v1
kind: ServiceAccount
metadata:
  name: intake-ts
  namespace: arp
  annotations:
    eks.amazonaws.com/role-arn: arn:aws:iam::${AWS_ACCOUNT_ID}:role/arp-intake
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: intake-ts
  namespace: arp
  labels:
    app: intake-ts
spec:
  replicas: 1
  selector:
    matchLabels:
      app: intake-ts
  template:
    metadata:
      labels:
        app: intake-ts
    spec:
      serviceAccountName: intake-ts
      containers:
        - name: intake-ts
          image: ${AWS_ACCOUNT_ID}.dkr.ecr.${AWS_REGION}.amazonaws.com/arp/intake-ts:latest
          imagePullPolicy: Always
          env:
            - name: TEMPORAL_ADDRESS
              value: temporal-frontend.temporal.svc:7233
            - name: TEMPORAL_NAMESPACE
              value: default
            - name: INTAKE_QUEUE_URL
              value: https://sqs.${AWS_REGION}.amazonaws.com/${AWS_ACCOUNT_ID}/arp-intake
            - name: RECIPIENT_EMAIL
              value: anthony.wittig@gmail.com
            - name: AWS_REGION
              value: ${AWS_REGION}
          resources:
            requests:
              cpu: 50m
              memory: 64Mi
            limits:
              memory: 128Mi
