apiVersion: v1
kind: ServiceAccount
metadata:
  name: transcribe-java
  namespace: arp
  annotations:
    eks.amazonaws.com/role-arn: arn:aws:iam::${AWS_ACCOUNT_ID}:role/arp-transcribe
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: transcribe-java
  namespace: arp
  labels:
    app: transcribe-java
spec:
  replicas: 1
  selector:
    matchLabels:
      app: transcribe-java
  template:
    metadata:
      labels:
        app: transcribe-java
    spec:
      serviceAccountName: transcribe-java
      containers:
        - name: transcribe-java
          image: ${AWS_ACCOUNT_ID}.dkr.ecr.${AWS_REGION}.amazonaws.com/arp/transcribe-java:latest
          imagePullPolicy: Always
          env:
            - name: TEMPORAL_ADDRESS
              value: temporal-frontend.temporal.svc:7233
            - name: TEMPORAL_NAMESPACE
              value: default
            - name: AWS_REGION
              value: ${AWS_REGION}
          resources:
            requests:
              cpu: 100m
              memory: 256Mi
            limits:
              memory: 512Mi
